@import "_variables";

.nav-link{
    color: #0C120C
}

.btn-dark{
    color: #0C120C;
    height:45px;
}

[active=yes]{
    text-decoration: underline;
    color: #fffffb;
}

h1, h2, h3, h6 {
    color: $acentcolour;
    font-weight: bolder;
}

h5 {
    color: $primarycolour;
    font-weight: bolder;
}

h4 {
    color: $secondarycolour;
    font-weight: bold;
}

.values{
    color: $acentcolour;
    font-weight: bold;
}

.categories{
    background-color: #0C120C;
    padding:1rem;
    align-items: center;
    justify-content: space-evenly;
}