@import "_variables";

.nav-link{
    color: map-get($pagecolours, dark);
}

.btn-dark{
    color: map-get($pagecolours, dark);
    height:45px;
}

[active=yes]{
    text-decoration: underline;
    color: map-get($pagecolours, primary);
}

h1, h2, h3, h6, h5, h4 {
    color: map-get($pagecolours, accent);
    font-weight: $boldtitle;
}

h5{
    @extend h1;
    color: map-get($pagecolours, primary)
}

h4{
    @extend h1;
    color: map-get($pagecolours, dark)
}

.values{
    color: map-get($pagecolours, accent);
    font-weight: $boldtitle;
}

.categories{
    background-color: map-get($pagecolours, dark);
    padding:1rem;
    align-items: center;
    justify-content: space-evenly;
}

p{
    color: map-get($pagecolours, dark)
}