@import "_variables";

.nav-link{
    color: map-get($pagecolours, dark);
}

.btn-dark{
    color: map-get($pagecolours, dark);
    height:8rem;
}

[active="yes"] {
    text-decoration: underline;
    color: #fffffb;
}

.categories{
    background-color: map-get($pagecolours, dark);
    padding:1rem;
    align-items: center;
    justify-content: space-evenly;
}

[active=yes]{
    text-decoration: underline;
    color: map-get($pagecolours, primary);
}

