@import "_variables";


@for $looptitle from 1 through 6 {
    .h-#{$looptitle}{
        font-size: 3rem / $looptitle;
    }
}

.italic{
    font-style: italic;
}

.text-categories{
    color: $white;
    text-decoration: none;
    list-style: none;
    font-size: large;
    &:hover{
        color: grey;
    }
}

.textform{
    color: $white;
    text-decoration: none;
    font-weight: $boldtitle;
}
