
@import "colours";
@import "structure";
@import "typography";
@import "variables";


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.photomate1 .photomate1:hover{
    transform: scale(1.1);
}

.photomate1 .photomate1:hover{
    transition-property: all;
    transition-duration: 2s;
}

[active=yes]{
    text-decoration: underline;
    color: map-get($pagecolours, primary);
}




