
@import "_typography";
@import "_colours";
@import "_structure";
@import "_variables";


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.photomate1 .photomate1:hover{
    transform: scale(1.1);
}

.photomate1 .photomate1:hover{
    transition-property: all;
    transition-duration: 2s;
}


$width: 720px;

main {
    width: $width *2;
}

